doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    script(type='text/javascript' src='/js/jquery-1.12.4.min.js')
    block scripts
  body
    block content
