body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-striped1 > tbody > tr:nth-of-type(odd) {
  background-color: #cce6ff;
}

.shop {
	padding: 2px;
}